{% extends "layout.html" %}

{% block mainContent %}

<div>
    <h1 id='title'>
        {{event.title}}
    </h1>
    <span id='date'>
        {{event.date}}
    </span>
    <span id='location'>
        {{event.location}}
    </span>
    <img id="image" src='{{event.image}}'/>
        <ul id="attendees">
  {% for email in event.attending %}
    <li class="email">
        {{email}}
    </li>
    

    1) should allow Yale users to RSVP
    2) should reject RSVPs from Yale addresses   
    
    
  {% endfor %}
</ul>
</div>

{% endblock %}

{% block footer %}

<footer> <a href="/about">About us </a> | <a href="/">Homepage</a> </footer>
  
{% endblock %}