{% extends "layout.html" %}

{% block mainContent %}

{% if errors %}
<div>
    <ul class = 'form-errors'>
    {% for email in event.attending %}
        <li class="email">{{email}}</li>
      {% endfor %}
    </ul>
</div>
{% endif %}

<div>
    <h1 id='title'> {{event.title}} </h1>
    <span id='date'>{{event.date}}</span>
    <p></p>
    <span id='location'>{{event.location}}</span>
    <p></p>
    <img id="image" src='{{event.image}}'/>
    <p></p>
    
    <form method="POST">
        <input type = 'text' name = 'email' id = 'email' placeholder='Your email'/>
        <input type = "submit" name="Submit">
        <p></p>
    </form>

    <ul id = 'attendees'>
        {% for email in event.attending %}
        <li class="email">{{email}}</li>
        {% endfor %}
    </ul>
    
</div>

{% endblock %}

{% block footer %}

<footer> <a href="/about">About us </a> | <a href="/">Homepage</a> </footer>
  
{% endblock %}