<!DOCTYPE html>
<html>
  <head>
    <title>{{ title }}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css' />
  </head>

	<body class="container">
	  <style>
	   body {
	     background-color: black;
	     color: white;
	   } 
	  </style>
	  <img id = "logo" src = "http://s24.postimg.org/dg1lmwo2t/Los_Pollos_Hermanos.png" height="150" width="600" position="center">
	 
    {% block header %}
      <header>The best events in town</header>
    {% endblock %}

    {% block mainContent %}
      <section>Welcome to {{ title }}. {{tagline}}</section>
    {% endblock %}

    {% block footer %}
      <footer>
        <a href="/about">About us </a> | <a href="/">Homepage</a> 
      </footer>
    {% endblock %}

  </body>
</html>